server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origin-patterns: "*"
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders: "*"
                allowCredentials: true
                maxAge: 3600
          routes:
            - id: user-service
              uri: ${USER_SERVICE_URL:http://localhost:8081}
              predicates:
                - Path=/users/**
                - Path=/auth/**
                - Path=/provinces/**
                - Path=/wards/**
                - Path=/banks/**
                - Path=/bank-accounts/**
                - Path=/main-plans/**
                - Path=/ratings/**
                - Path=/recommends/**
                - Path=/revenues/**
                - Path=/favorites/**
                - Path=/store-medias/**
                - Path=/store-view-histories/**
                - Path=/subscriptions/**
                - Path=/sports/**
                - Path=/stores/**
                - Path=/suspend-stores/**
              filters:
                - name: AuthenticationFilter
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

jwt:
  signer-key: ${SIGNER_KEY:IHaHOQ54XZLuTaMb/lNoo0GOuJhvOsmF!gEDaNj/iTyJ1STa=3XLDi!qip3xGavT}

user-service:
  url: ${USER_SERVICE_URL:http://localhost:8081}
  introspect-endpoint: /auth/validate

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
    com.arenaaxis.gateway: DEBUG
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss}){blue} %clr([%X{traceId:-},%X{spanId:-}]){cyan} %clr(${LOG_LEVEL_PATTERN:-%5p}) %m%n"